<md-sidenav-container>
  <md-sidenav #start (open)="closeStartButton.focus()">
    <img src="/assets/logo.svg" alt="Logo" class="logo">
    <nav>
      <ul>
        <h3>
          <md-icon>local_shipping</md-icon>
          Containers
        </h3>
        <li>
          <button md-button routerLink="/containers/bestellen" (click)="start.close()">
            <md-icon>add_circle_outline</md-icon>
            Bestellen
          </button>
        </li>
        <li>
          <button md-button routerLink="/containers/overzicht" (click)="start.close()">
            <md-icon>list</md-icon>
            Overzicht
          </button>
        </li>
        <h3>
          <md-icon>refresh</md-icon>
          Faceco
        </h3>
      </ul>
    </nav>

    <button md-button #closeStartButton (click)="start.close()">Close</button>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="start.open()">
      <md-icon>menu</md-icon>
    </button>
    <button md-icon-button [routerLink]="['/']">
      <md-icon>home</md-icon>
    </button>
    <span style="margin-left: 15px; flex: 1 1 auto;">Alueco Material Management</span>
    <!--<button md-button [routerLink]="['/orders/overview']">-->
      <!--<md-icon style="margin-top:5px; float:left;">list</md-icon>-->
      <!--Order overview-->
    <!--</button>-->
    <button md-icon-button>
      <md-icon>info</md-icon>
    </button>
  </md-toolbar>
  <main style="min-height:90vh;">
    <router-outlet></router-outlet>
  </main>

</md-sidenav-container>
<!--<footer>-->
<!--© 2016-->
<!--</footer>-->

<!--<nav>-->
<!--<button md-button >-->
<!--Home-->
<!--</button>-->
<!--|-->
<!--<a [routerLink]="['$orders']">-->
<!--New order-->
<!--</a>-->
<!--|-->
<!--<a [routerLink]="['/github', 'angular']">-->
<!--Github Repos-->
<!--</a>-->
<!--</nav>-->
